<div>
    <h2>{{ cubo.nombre }}</h2>
    <hr/>
    <div class="card w-50 mx-auto" style="width: 18rem;">
        <img src={{cubo.imagen}} class="card-img-top" alt={{cubo.nombre}}>
        <div class="card-body">
            <table class="table mx-auto">
                <thead>
                    <tr>
                        <th>Marca y Modelo</th>
                        <th>Valoración</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ cubo.marca }}  {{ cubo.modelo }}</td>
                        <td>{{ cubo.valoracion }}</td>
                        <td>{{ cubo.precio }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-warning" [routerLink]="['/']">Volver</a>
        </div>
    </div>
    <div *ngIf="comentarios.length > 0">
        <h3>Comentarios</h3>
        <table class="table mx-auto">
                <tbody>
                    <tr *ngFor="let comentario of comentarios">
                        <td>Usuario {{ comentario.idUsuario }}</td>
                        <td>{{ comentario.comentario }}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>