<div>
    <div class="row">
        @for(cubo of cubos; track cubo){
        <div class="card" style="width: 18rem;">
            <img src={{cubo.imagen}} class="card-img-top" alt={{cubo.nombre}}>
            <div class="card-body">
                <h5 class="card-title">{{ cubo.nombre }}</h5>
                <p class="card-text">{{ cubo.precio }}</p>
                <a [routerLink]="['/cubo', cubo.idCubo ]" class="btn btn-primary">Detalles</a>
            </div>
        </div>
        }
    </div>
</div>